@page "/OperationAffiche"
@using IAGE02.Apps.Operations
@using IAGE02.Entities.Operation
@using IAGE02.Entities.Operations
@using IAGE02.Models.Operations
@rendermode InteractiveServer
<h3>OperationAffiche</h3>


<h1>table operation</h1>
<table class="table table-striped-columns">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>TypeBudget</th>
                <th>Objet</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var operation in operationsinfo)
            {
                <tr>
                    <td>@operation.Id</td>
                    <td>@operation.Numero</td>
                    <td>@operation.TypeBudget</td>
                    <td>@operation.Objet</td>
                    
                </tr>
            }
        </tbody>
    </table>
    <h1> table lot</h1>
@if (!lotInfo.Any())
{
    <h4>Pas de donner </h4>
}

else
{
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th>Lot ID</th>
                <th>Numéro</th>
                <th>Désignation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lot in lotInfo)
            {
                <tr>
                    <td>@lot.</td>
                    <td>@lot.NumeroLot</td>
                    <td>@lot.Designation</td>
                </tr>
            }
        </tbody>
    </table>
}





